.inputs {
  background-color: #222222;
  text-align: center;
  width: 4rem;
  height: 2rem;
}

.inputs:focus {
  outline: none;
}

.inputBorder {
  border: 1px solid grey;
}

.inputError{
  border: 1px solid red;
}
.fontStuff {
  font-size: 20px;
  color: grey;
}

.forms{
  display: inline-block
}